.nextEvent {
  text-align: center;

  a {
    text-decoration: underline;
  }
}

.pastTalksLink {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none !important;
  padding: 7px 21px;
  border: 1px solid black;
  border-radius: 4px;
}

.description {
  color: #777;
}