@import "../../constants/colors";

.logoSection {
  margin-bottom: 20px;
  text-align: center;

  a {
    display: inline-block;
    padding: 5px 18px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 4px;
    -webkit-text-stroke: 1px #FFF;
    -webkit-text-fill-color: $brandColor;
    background-color: $brandColor;
  }
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigationItem {
  flex-basis: content;
  text-transform: uppercase;
  font-size: 12px;

  a {
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 12px;
  }
}

.logo {
  border: 2px solid $brandColor;
  border-radius: 3px;
}
