@import "../../constants/colors";

.logoSection {
  margin-bottom: 20px;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigationItem {
  flex-basis: content;
  text-transform: uppercase;
  font-size: 12px;

  a {
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 12px;
  }
}

.logo {
  border: 2px solid $brandColor;
  border-radius: 3px;
}
