.title {
  text-align: center;
}

.channelList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.link {
  margin-bottom: 20px;
  padding: 0 40px;
  flex-basis: 140px;
}
