@import "../../constants/colors";

$dateColor: #FE615E;

.pageTitle {
  text-align: center;
}

.eventList {
  margin: 0 auto;
  padding: 0;
  max-width: 500px;
  display: flex;
  flex-direction: column-reverse;
  list-style-type: none;
}

.eventListItem {
  display: flex;
  margin-bottom: 40px;
}

.dateBox {
  padding: 20px 20px 20px 0;
  text-align: center;
  color: $dateColor;
}

.date {
  font-size: 32px;
}

.month {
  text-transform: uppercase;
}

.year {
  opacity: .5;
}

.textBox {
  margin-left: 20px;
}

.title {
  font-weight: 600;
}

.description {
  color: #777;
}

.detailBox {
  display: flex;
  margin-top: 20px;
  line-height: 20px;
}

.placeBox,
.eventTypeBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: desaturate($brandColor, 60%);
  margin-right: 20px;
}

.pinIcon,
.typeIcon {
  margin: 0 5px;
  height: 20px;

  path {
    fill: currentColor;
  }
}

.place,
.eventType {
  text-align: center;
}

.eventListItemPlaceholder {
  composes: eventListItem;
  margin-top: 20px;
}

.placeholderBox {
  border-radius: 3px;
  background-color: #F9F9F9;
}

.dateBoxPlaceholder {
  composes: dateBox placeholderBox;

  margin-right: 40px;
  width: 32px;
  height: 48px;
  background-color: lighten($dateColor, 30%);
}

.textBoxPlaceholder {
  flex: 1;
}

.titlePlaceholder {
  composes: placeholderBox;

  margin-bottom: 20px;
  height: 20px;
}

.descriptionPlaceholder {
  composes: placeholderBox;

  margin-bottom: 20px;
  height: 96px;
}

.detailBoxPlaceholder {
  composes: detailBox;
}

.placeBoxPlaceholder,
.eventTypeBoxPlaceholder {
  composes: placeBox placeholderBox;

  flex: 1;
  max-width: 190px;
  height: 20px;
  background-color: lighten(desaturate($brandColor, 60%), 30%);
}
